# ローカル開発では false: http://localhost:3000/microsoft365/
# Cloudflare Pages では true: https://m365.ponpokoken.com/
NEXT_PUBLIC_SUBDOMAIN_MODE=false
NEXT_PUBLIC_ROOT_DOMAIN=ponpokoken.com
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Googleフォームのお問い合わせURL
# 例: https://docs.google.com/forms/d/e/XXXXXXXXXXXXXXXX/viewform
NEXT_PUBLIC_GOOGLE_FORM_URL=https://forms.gle/PeSsrEUGeZZMAYmt5
